html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

$anim_duration:.4s;

.off-page {
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 100%;
  background: #fff;
}
.page-active {
  display: block; 
  overflow: visible;
}
.page-before-in {
  -webkit-transform: translate(100%,0) scale(1) translateZ(0);
  -webkit-transition: -webkit-transform $anim_duration;
}
.page-in {
  -webkit-transform: translate(0,0) scale(1) translateZ(0);
}
.page-before-out {
  -webkit-transform: translate(0,0) scale(1) translateZ(0);
  -webkit-transition: -webkit-transform $anim_duration;
}
.page-out {
  -webkit-transform: translate(100%,0) scale(1) translateZ(0);
}
.main-page-out {
  -webkit-transform: translate(-100%,0) scale(1) translateZ(0);
  -webkit-transition: -webkit-transform $anim_duration;
}
.main-page-before-in {
  position:absolute;
  -webkit-transition: -webkit-transform $anim_duration;
}
